.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f0f8ff;
    padding: 10px;
  }
  
  .arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  

  
  .forgot-password-content {
    text-align: center;
  }
  
  #title {
    font-size: 24px;
    color: #008000;
  }
  
  #logo img {
    width: 100px;
    height: 100px;
    margin: 20px 0;
  }
  
  #title2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #008000;
  }
  
  .forgot-password-input-container {
    width: 100%;
  }
  
  .forgot-password-div {
    margin-bottom: 20px;
  }
  
  .line {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold;
    color: #008000;
  }
  
  .input-box1 {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .submit-button {
    width: 100%;
    background-color: #008000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .submit-button:hover {
    background-color: #006400;
  }
  
  .last img {
    width: 50px;
    height: 50px;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .navigation-buttons button {
    width: 48%;
    background-color: #008000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .navigation-buttons button:hover {
    background-color: #006400;
  }
  
  .login-link {
    color: #008000;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  