.main-product-con {
    /* border: 1px solid black; */
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.product-sub-con {
    width: 15rem;
    height: auto;
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 15rem;
    height: 10rem;

}

.product-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.product-content {
    padding: 1rem;
    background-color: #f4f4f4;
    /* Light grey background, adjust color as needed */
    border-radius: 8px;
    /* Optional: rounded corners for the product content box */
}

.product-content h4 {
    margin-bottom: 0.5rem;
    /* Space below the item name */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Two columns with the second column twice as wide as the first */
    gap: 10px 20px;
    /* 10px row gap and 20px column gap */
}

.grid-item.label {
    font-weight: bold;
    /* Bold font for labels */
    text-align: right;
    /* Right-align text for labels */
    padding-right: 10px;
    /* Space between label and value */
}

.grid-item {
    padding: 5px 0;
    /* Padding for grid items */
}